<div class="comments">
    <h3 class="comm_info">
        <%= comment.message.user.firstname %>
        <%= comment.message.user.lastname %>
    </h3>
    
    <p class="msg-text"><%= comment.body %></p>

</div>
