<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>

    <% if current_user.requests.none? && current_user.friends.none? %>   
                         
        <% if current_user != user %>
          <%= render user %>          
        <% end %>
    <% end %>

    <% if current_user.requests.any? && current_user.friends.none? %>   
                 
        <% current_user.requests.each do |req| %>
          <% if current_user != user && req.user_id != user.id %>
            <%= render user %>
          <% end %>
        <% end %>
    <% end %>

    <% if current_user.requests.none? && current_user.friends.any? %>  

        <% current_user.friends.each do |friend| %>
          <% if current_user != user && friend.user_id != user.id %>
            <%= render user %>
          <% end %>
        <% end %>
    <% end %>

    <% if current_user.requests.any? && current_user.friends.any? %>

        <% current_user.requests.each do |req| %>
          <% current_user.friends.each do |friend| %>
              <% if current_user != user && req.user_id != user.id && friend.user_id != user.id %>
                <%= render user %>
              <% end %>
          <% end %>    
        <% end %>

    <% end %>

  <% end %>
</div> 