.user_request {
    border: 1px solid #cbc4c4;
    padding: 20px;
    display: flex;
    width: max-content;
    min-width: 237px;
    padding-right: 37px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.btn {
    height: 32px;
    width: 85px;
    margin-left: 8px;
}

.notifications {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.notif_count {
    position: relative;
    left: 5px;
}

.header-links {
    display: flex;
    gap: 14px;
}

.links {
    border: 1px solid grey;
    padding: 13px;
}

a {
    text-decoration: none;
}

.messages {
    border: 1px solid grey;
    padding: 23px;
}

#message-box {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.msg-text {
    font-style: italic ;
}

.like {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.count {
    margin-left: 15px;
}

.user-info {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.comment_icon {
    height: 22px;
    margin-left: 49px;
}

.comments {
    border: 2px solid grey;
    padding: 23px;
    margin-left: 95px;
}

.options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 9px;
}
